<a href="https://colab.research.google.com/github/sanath8107/strategies/blob/main/RSI%2BMACD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a combination of RSI and MACD

We buy when
*   MACD line crosses signal line and
*   RSI is below 30

and we sell when

*   Signal line crosses the MACD line and
*   RSI is above 70

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
# Load the data
from google.colab import files
uploaded=files.upload()

Saving WIPRO-2017.csv to WIPRO-2017.csv

In [3]:
# store the data into a df
df = pd.read_csv('WIPRO-2017.csv')
# set the date to be the index
df = df.set_index(pd.DatetimeIndex(df['Date'].values))
df

                  Date    Open  ...  Total Trade Quantity  Turnover (Lacs)
2017-01-02  2017-01-02  475.05  ...              461428.0          2189.63
2017-01-03  2017-01-03  473.00  ...              691301.0          3244.45
2017-01-04  2017-01-04  467.00  ...             1134495.0          5366.42
2017-01-05  2017-01-05  477.10  ...              978187.0          4715.90
2017-01-06  2017-01-06  478.50  ...             1571573.0          7417.73
...                ...     ...  ...                   ...              ...
2017-12-22  2017-12-22  298.00  ...             1758584.0          5281.33
2017-12-26  2017-12-26  301.25  ...             1855536.0          5601.42
2017-12-27  2017-12-27  303.90  ...             1815733.0          5522.55
2017-12-28  2017-12-28  305.90  ...             5047272.0         15475.48
2017-12-29  2017-12-29  305.40  ...             3776248.0         11719.75

[248 rows x 8 columns]